*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(64, 85, 95);
}
.container{
  background-color: wheat;
  border: 4px dotted darkgoldenrod;
  max-width: 13rem;
  height: 16rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
  gap: 0.5rem;
  overflow: auto;
}
.mt-3{
  margin: 0.5rem 0;
}
.delete{
  padding: 0.2rem 0.5rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
}
.card{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}
.board{
 display: flex;
 flex-direction: column;
 height: auto;
 margin: 0 5rem
}
.info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
.title{
  padding: 0.5rem 2.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  border: none;
}
.submit{
  padding: 0.5rem 1.2rem;
  border: none;
  background-color: rgb(12, 72, 202);
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
}
.heading{
  color: white;
}